<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9f8f887d-7d6a-461a-af65-b1dc7fdf4b6f" Publisher="CN=Alex" Version="1.0.0.0" />
  <Properties>
    <DisplayName>actool_winRT</DisplayName>
    <PublisherDisplayName>Alex</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="actool_winRT.App">
      <VisualElements DisplayName="actool_winRT" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="actool_winRT" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>